body {
    font-family: 'Poppins', sans-serif;
}

/*  first part css */
h1 {
    font-weight: 800;
    letter-spacing: 0.1em;
    line-height: 40px;
}

p {
    color: gray;
    font-size: 15px;
}

.order-link {
    text-decoration: none;
    padding: 10px 25px;
    border-radius: 20px;
    font-weight: 700;
    color: white;
    background-image: linear-gradient(lightsalmon, tomato);
    display: inline-block;
    margin-top: 20px;

}

.first-part {
    height: 600px;
    width: 100%;
    display: flex;
}

.first-description {
    padding-left: 50px;
    padding-top: 50px;
}

/* about section css */
.about-section {
    width: 100%;
    height: 500px;
    display: flex;
    background-image: url(images/7.png);
    background-repeat: no-repeat;
}

.about-image img {
    width: 45%;
    padding-left: 80px;
    padding-top: 80px;
    overflow: hidden;
}


.about-description {
    width: 60%;
    padding-top: 110px;
    margin-right: 80px;
}

/* third part css */
.recipe-introduction {
    text-align: center;
    width: 450px;
    margin: 0 auto;
}

.cards {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.card {
    border: 1px solid black;
    width: 320px;
    height: 430px;
}

.card-image img {
    width: 90%;
    padding-left: 20px;
}

.card-description {
    width: 90%;
    padding-top: 0;
    padding-left: 20px;
}

.card-description p {
    font-size: 12px;

}